{{!-- Burger is table name, burgers_db is db, name, and devoured  for columns--}}
<h10 id=Aroo10 ><strong>Trash the Burgers!!!</strong></h10><br>
<button class="removeAll" >
                    Remove All Burgers from the Dining Room !!!
                </button></div>
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">EAT THE BURGER!</h1>
    <img src="/assets/img/burger.png" id="Aroo">
    <p class="lead">Please enter the name of a burger that you wish to eat.</p>
    <form class="create-form">
        <div class="form-group">
            <label for="booger">Burger Name:</label>
            <input type="text" id="booger" name="burger_name">
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" id="not_devoured" class="Aroo2">
            <h2>NOM NOM!</h2>
            {{#each Burger}}
            {{#unless this.devoured}}
            <div class="not-eaten">
                <strong>{{this.id}}. {{this.name}}</strong>
                <button class="devoured" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
                    NOM NOM!
                </button></div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6" id="devoured" class="Aroo2">
            <h2>Devoured Burgers!</h2>
            {{#each Burger}}
            {{#if this.devoured}}
            <li class="eaten">
                <strong>{{this.id}}. {{this.name}}</strong>
            </li>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>